.links line {
  stroke: #bbb;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.nodes circle:hover~.tootlips {
  display: inline-block;
}

svg {
  height: 100vh;
  width: 100%;
}
